/* Main CSS file */

/* * *  General Styling for forms * * */

/* mesaj status cu animatie pentru formulare */
#status {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#status.fade-out {
  opacity: 0;
} */

/*********************************/
/* * * General root styles * *  */

:root {
  --home-primary: #183153;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(90deg,#FFFF00 1%,#FFA500 25%,#F14444 45%,#D53567 55%,#9A109A 84%);
  overflow-x: hidden;
  height: 100%;
}

html { 
  overflow-x: hidden; 
  background: linear-gradient(90deg,#FFFF00 1%,#FFA500 25%,#F14444 45%,#D53567 55%,#9A109A 84%);
  height: 100%;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

/* *** Varianta mai inchisa *** */

/* .home-shell,
.contact-shell {
  background: rgba(220, 220, 220, 0.65); 

  backdrop-filter: blur(8px) saturate(85%);
  -webkit-backdrop-filter: blur(8px) saturate(85%);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 18px;

  box-shadow:
    0 14px 34px rgba(0, 0, 0, 0.28);
  color: #183153;
} */

/* Design general GRI mat pentru toate card-urile din pagini */
.home-shell,
.contact-shell,
.login-shell {
  background: rgba(220, 220, 220, 0.52); 

  backdrop-filter: blur(14px) saturate(110%);
  -webkit-backdrop-filter: blur(14px) saturate(110%);

  border: 1px solid rgba(255, 255, 255, 0.55);
  border-radius: 18px;

  box-shadow:
    0 18px 45px rgba(0, 0, 0, 0.28);
  color: #183153;
}