/* Main CSS file */

/* * *  General Styling for forms * * */
.card { 
  width: min(420px, 92vw);
  background: rgba(255,255,255,0.9);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.card h1 { margin: 0 0 8px; }

.badge {
  display: inline-flex;        
  align-items: center;
  width: fit-content;          
  max-width: max-content;      

  background-color: #fe8c01;
  color: #fff;
  padding: 4px 12px;
  border-radius: 999px;

  font-size: 13px;
  font-weight: 600;
}

.badge.info {
  font-size: 14px;          
  padding: 6px 14px;        
  margin-bottom: 14px;

  background-color: #ff8c1a; 
  color: #000000;  
}

label { display: grid; gap: 6px; margin: 12px 0; }
input {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  font-size: 16px;
}

.formButton {
  width: 100%;
  margin-top: 12px;
  padding: 10px 12px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;

  background-color: #333;
  color: white;

  transition: background-color 0.25s ease, transform 0.15s ease;
}

.formButton:hover {
  background-color: #fe8c01;
  transform: translateY(-1px);
}

button:active {
  transform: translateY(0);
}

.error {
  margin: 10px 0 0;
  color: #b00020;
  min-height: 1.2em;
}

textarea {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  font-size: 16px;
  resize: vertical;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
}

/* mesaj status cu animatie pentru formulare */
#status {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#status.fade-out {
  opacity: 0;
}

/*********************************/
/* * * General root styles * *  */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(90deg,#FFFF00 1%,#FFA500 25%,#F14444 45%,#D53567 55%,#9A109A 84%);
  overflow-x: hidden;
  height: 100%;
}

html { 
  overflow-x: hidden; 
  background: linear-gradient(90deg,#FFFF00 1%,#FFA500 25%,#F14444 45%,#D53567 55%,#9A109A 84%);
  height: 100%;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
}