<!-- navbar.html -->

<nav class="navbar">
  <div id="cloud"></div>

  <!-- titlul paginii (doar mobile) -->
  <div class="nav-title" id="navTitle"></div>

  <!-- Mobile burger menu -->
  <button class="nav-toggle" aria-label="Open menu" aria-expanded="false" aria-controls="navLinks">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="nav-overlay" id="navOverlay"></div>

  <div class="nav-links" id ="navLinks">
    <a href="../home/index.html" class="nav-btn">
      Home
    </a>

    <a href="../search/index.html" class="nav-btn">
      City Search
    </a>

    <a href="../feedback/index.html" class="nav-btn">
      Feedback
    </a>

    <a href="../help/index.html" class="nav-btn">
      Help
    </a>

    <a href="../contact/index.html" class="nav-btn">
      Contact
    </a>

    <a id="authBtn" href="../login/index.html" class="nav-btn login">
      Login
    </a>
  </div>
</nav>

